.HomeGreeting {
  color: purple;
  position: relative;
  top: -45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeImage {
  position: absolute;
  top: 70%;
  bottom: 50%;
  transform: translate(50%, -50%);
  background-image: url('./phonebook.png');
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
