.SideNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.SideNavLink {
  list-style: none;
  margin-right: 25px;
  font-size: 20px;
  font-weight: 500;
}

.NavLink {
  color: black;
  text-decoration: none;
}

.NavLinkActive {
  color: purple;
}
